body, html{
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*background-color: red;*/
}
body{
	padding: 40px;
}
.header{
	/*height: 30%;*/
	background-color: blue;
}
.float-container{
	background-color: #22B573;
	height: 100%;
	padding: 10%;
}
.nav-a{
	font-size: 200%;
	margin: auto 30px;
	color: #fff;
	/*padding: 1% 15%;*/
	/*float: left;*/
	/*display: inline-block;*/
}
.nav-li{
	display: inline-block;
	vertical-align: middle;
}
.logo{
	width: 20%;
	float: right;
}
.navigation{
	float: right;
}
.article{
	width: 48%;
	background-color: #FCEE21;
}
.article p{
	margin: 10px auto;
	text-indent: 20px;
}
.article.float-left img{
	margin-left: 20px;
}
.article.float-right img{
	margin-right: 20px;
}
.content-scroll{
	width: 100%;
	margin-top: 10%;
	height: 60%;
	overflow: auto;
}
.x-sroll{
	width: 500px;
	height: 100px;
	background-color: gray;
	overflow-x: auto;
	overflow-y: hidden;
}
.x-scroll-child{
	width: 1500px;
	background-color: aqua;
	height: 100%;
}
/*.nav-li::before{
	content: 'before'
}
.nav-li::after{
	content: 'after'
}*/
.nav-a:hover{
	/*font-size: 50px;*/
	/*display: none;*/
	background-color: aqua;
}
.nav-li:nth-child(2){
	background-color: gray;
}
.nav-li:first-child{
	/*background-color: yellow;*/
}
.nav-li:last-child{
	/*background-color: yellow;*/
}
.clearfix::after{
	content: '';
	display: block;
	clear: both;
}
.clear{
	clear: both;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}