 base clasees */
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.container{
	width: 1170px;
	margin: 0 auto;
	display: block;
}
.vertical-items{
	display: inline-block;
	vertical-align: middle;
}
.relative{
	position: relative;
}
.d-flex{
	display: flex;
}
/* base clasees */
body{
	padding-top: 100px;
}
/* header styles*/
.logo{
	width: 100px;
}
.header-wrapper{
	justify-content: space-between;
	height: 100%;
	align-items: center;
}
.social-a:after{
	content: "";
	width: 3px;
	height: 30px;
	background-color: #3D58A6;
	margin: auto 15px;
}
.social-li.search .social-a:after{
	display: none;
}
.social-a img{
	height: 30px;
}
.navigation-a{
	font-size: 24px;
	font-family: "ninoBold";
	color: #3D58A6;
	padding: 0 15px;
}
.header{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	height: 100px;
	z-index: 500;
}
/* header styles*/

/* banner section */
/*.class-for-hover:hover .banner-ul{*/
	/*bottom: -200px;*/
}
.banner-img + .banner-ul{
	background-color: red;
}
.banner-section{
	/*position: sticky;*/
	top: 0;
	z-index: 30;
	background-color: #E6E6E6;
	padding: 30px 0;
	/*padding-bottom: 100px;*/
}
.white-logo{
	position: absolute;
	right: 30px;
	bottom: 30px;
	width: 100px;
	/*transition: right .3s linear 1s;*/
	animation: anim .4s linear;
}
.white-logo:hover{
	right: 40px;
}
.banner-ul{
	transition: bottom .3s linear;
	position: absolute;
	left: 30px;
	bottom: 30px;
}
.banner-li{
	font-size: 30px;
	color: #fff;
	/*background-color: red;*/
	transition: color .3s linear, background-color .3s linear;
	font-family: "ninoBold";
}
.banner-li:hover{
	color: #3D58A6;
	background-color: gray;
}

@keyframes anim {
	/*20%{
		transform: rotate(72deg);
	}
	40%{

		transform: rotate(144deg);
	}
	60%{
		transform: rotate(216deg);

	}
	80%{
		transform: rotate(288deg);
	}
	100%{
		transform: rotate(360deg);
	}*/
	from{
		transform: rotate(0);
	}
	to{
		transform: rotate(360deg);
	}
}
/* banner section 

/* video secion */
.video-section{
	background-color: #363E97;
	padding-bottom: 90px;
}
.video-title{
	color: #fff;
	font-size: 24px;
	padding: 35px 0;
	font-family: "ninoBold";
}
.video-title:hover a{
	color: #EE4036;
}
.video-title span{
	padding-top: 5px;
}
.video-title a{
	color: #fff;
	font-family: "ingiroArial";
	margin-left: 10px;
	transition: color .3s linear;
}
.video h1{
	position: absolute;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
}
.video-wrapper{
	justify-content: space-between;
}
.video:hover{
	border: 15px solid #000;
	/*left:0;*/
}
.video{
	transition: border 3s linear;
	border: 15px solid transparent;
	width: 570px;
	/*right: 0;*/
	height: 320px;
	background-color: #fff;
}
/* video secion */