/* base classes */
.display-inline-block{
	display: inline-block;
}
/* base classes */
body.yellow{
	background-color: yellow;
}
.wrapper, .container{
	margin: 30px auto auto 30px;
}
.red{
	color: red;
}
.image{
	margin-top: 30px;
	width: 500px;
}
.title{
	color: white;
	font-size: 30px;
}
.par{
	margin-top: 30px;
}

.logo{
	width: 100px;
	display: inline-block;
	vertical-align: middle;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
}
.navigation-ul{
	margin-left: 30px;
}
.navigation-li{
	display: inline-block;
}
.navigation-a{
	display: inline-block;
	text-decoration: none;
	font-family: "ninoBold";
	color: #3D58A6;
	font-size: 22px;
	line-height: 22px;
	padding-top:7px; 
	padding: 7px 7.5px 0 7.5px;
	/*border: 5px solid red;*/
}
.navigation-a.active{
	color: #EE4036;
	/*color: rgb(238, 64, 54);*/
}
.banner-section{
	margin-top: 22.5px;
}
.banner-img{
	width: 1170px;
}
.navigation-li .test{
	font-family: "ingiroArial";
	/*font-family: "BPG Ingiri Arial", sans-serif;*/
	/*font-family: "Times New Roman", Times, serif;*/
}
.test2{
	color: red;
}

.test1 > .test1{
	color: blue;
	width: 500px;
	background-color: red;
}
.test .test2{
	font-family: "ninoBold";
}

/* footer */
.footer{
	margin-top: 30px;
}
.divider{
	height: 30px;
	width: 3px;
	background-color: #3D58A6;
	margin: auto 30px;
}
.social-img{
	height: 30px;
}
/* footer */

/* conact conainer */
.text-container{
	text-align: center;
	padding: 150px 0;
}
.text-container .title{
	color: #3D58A6;
	font-family: "ninoBold";
	font-size: 20px;
}
.contact-li span{
	color: #808080
}
.contact-li{
	font-family: "ingiroArial";
	color: #000000;
}
/* conact conainer */